.admin-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use min-height to allow the content to expand */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.admin-header {
  background-color: #00a8ff;
  color: white;
  padding: 20px;
  text-align: center;
}

.admin-content {
  padding: 20px;
}

.add-teacher-section {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.teacher-table {
  border-collapse: collapse;
  width: 100%;
}

.teacher-table th,
.teacher-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.teacher-table th {
  background-color: #f2f2f2;
}
