.test-interface {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .question-container {
    flex: 3;
    margin-right: 20px;
  }
  
  .question-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .test-info:first-child {
    text-align: center;
  }
  
  .question-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
  }
  
  .option {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .navigation-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    
  }
  .testnavigation-button {
    width: 10%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .testsidebar {
    flex: 1 1;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  
  .sidebar-item {
    width: 18%; /* Width to fit 5 items in a row with some space */
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    font-size: 12px; /* Smaller font size */
    border-radius: 5px;
    cursor: pointer;
    color:black;
    background-color: #e9ecef; /* Light grey background */
  }
  
  .sidebar-item.answered {
    background-color: #d4edda;
  }
  
  .sidebar-item.not-answered {
    background-color: #f8d7da;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  