/* Footer.css */
.footer {
    background: linear-gradient(90deg, purple, rgb(233, 13, 50));
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
  }
  
  .footer-menu li {
    display: inline;
    margin: 0 0.5rem;
  }
  
  .footer-menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-menu a:hover {
    text-decoration: underline;
  }
  