body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5fffa ;
  
}

.App {
  text-align: center;
  padding: 20px;
  
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}
